<!DOCTYPE html>
<html>
<head>
  <title>Kuwarto</title>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/application.css">
</head>
<body>
<div id="main-wrapper">
  <div id="header">
    <div class="head-wrapper">
      <div class="brand-logo">
        <%=link_to image_tag("logo.png", :border => 0), root_path %>
      </div>
      <div class="brand-name">
        <h1>Kuwarto.com</h1>
      </div>
      <div class="nav-wrapper">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End #HEADER -->
  <!-- Start #Content -->
  <div id="content">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>
  <!-- Start #FOOTER -->
  <div id="footer">
    <div class="wrapper">
      <p>
        All Rights Reserved 2015 © Kuwarto.com
      </p>
    </div>
  </div>
</div>
</body>
</html>
